body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

.fazechat_app .hero-unit h3 {
  font-size: 16px;
  padding: 5px;
}

.fazechat_app .left-tab-content {
  min-height: 150px;
}

/* general collection lists / editing */
.rise-collection .nav-header {
  overflow: hidden;
}

.rise-collection .nav-header .btn {
  margin-right: 0px;
  margin-top: -3px;
}

.rise-collection ul li.listItem {
  padding: 5px;
  border-top: 1px dotted #ccc;
}

.rise-collection ul li.listItem.first {
  border-top: none;
}

.rise-collection ul li.listItem.item.label-info a {
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.doc-editor .left-panel {
  float: left;
  width: 50%;
}

.doc-editor .right-panel {
  float: right;
  width: 50%;
}