body {
  padding-bottom: 40px;
}

.nav-tabs {
  min-height: 36px;
}

.sidebar-nav {
  padding: 9px 0;
}

.fazechat_app .hero-unit h3 {
  font-size: 16px;
  padding: 5px;
}

.fazechat_app .left-tab-content {
  min-height: 150px;
}

.fazechat_app .collapsible.closed.right {
  background-image: url('/assets/images/arrow-right-100.png');
  background-position: center center;
  background-repeat: no-repeat;
}

